body {
    margin:0;
    background:url(Images/black.jpg);
    background-size:cover;
    width:100%;
}

#container {
    margin:auto;
    position:relative;
    top:30px;
    width:30%;
    height:500px;
    border-radius:5px;
    background:url(Images/login.jpg);
    background-size:cover;
    background-position:center;
    border:1px solid rgb(245,245,245,0.2);
    color:rgb(245,245,245);
    box-shadow:3px 3px 30px rgb(0,0,0,0.8);
}

h3, h1 {
    text-align:center;
}

form {
    position:relative;
    top:90px;
    text-align:center;
}
    
footer {
    position:absolute;
    bottom:10px;
    right:20px;
}

.homeButton {
    width:140px;
    border-radius:25px;
    background:url(Images/login.jpg);
    background-size:cover;
    color:white;
    position:absolute;
    bottom:0;
    right:0;
    text-align:center;
}

.homeButton:hover {
    box-shadow:5px 5px 50px rgb(245,5,5);
    transition:0.9s;
}